@media (min-width:992px){
    .text1{
    height: 45  5px;
    width: 230px;
    background-color: greenyellow;
    position: absolute;
    left: 0.6%;
    top: 50px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}

.text2{
    height: 455px;
    width: 230px;
    background-color: skyblue;
    position: absolute;
    left: 40%;
    top: 50px;
       border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}

.text3{
    height: 455px;
    width: 230px;
    background-color: orange;
    position: absolute;
    left: 82.4%;
    top: 50px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}


.header{
    float: right;
    font-size: 25px;
    background-color: darkgrey;
    text-overflow: clip;
    border-style: solid;
    border-width: 2px
}   


h1{
    text-align: center;
    background-color: indianred;
    border-style: solid;
    border-width:3px;
    border-color: black;
    width: 100%
}
}

@media (min-width:768px) and (max-width:992px){
    .text1{
    height: 400px;
    width: 400px;
    background-color: greenyellow;
    position: absolute;
    left: 0.6%;
    top: 50px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}

.text2{
    height: 400px;
    width: 400px;
    background-color: skyblue;
    position: absolute;
    left: 57%;
    top: 50px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}

.text3{
    height: 175px;
    width: 97.4%;
    background-color: orange;
    position: absolute;
    left: 0.6%;
    top: 465px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}


.header{
    float: right;
    font-size: 25px;
    background-color: darkgrey;
    text-overflow: clip;
    border-style: solid;
    border-width: 2px
}   


h1{
    text-align: center;
    background-color: indianred;
    border-style: solid;
    border-width:3px;
    border-color: black;
}
}


@media (min-width:0px) and (max-width:768px){
    .text1{
    height: 200px;
    width: 97.4%;
    background-color: greenyellow;
    position: absolute;
    left: 0.6%;
    top: 50px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}

.text2{
    height: 200px;
    width: 97.4%;
    background-color: skyblue;
    position: absolute;
    left: 0.6%;
    top: 300px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}

.text3{
    height: 200px;
    width: 97.4%;
    background-color: orange;
    position: absolute;
    left: 0.6%;
    top: 550px;
    border-style: solid;
    border-width: 3px;
    padding: 3px 3px 3px 3px;
}


.header{
    float: right;
    font-size: 25px;
    background-color: darkgrey;
    text-overflow: clip;
    border-style: solid;
    border-width: 2px
}   


h1{
    text-align: center;
    background-color: indianred;
    border-style: solid;
    border-width:3px;
    border-color: black;
}
}